<div class="row justify-content-center">
  @for(user of arrUser; track user._id){

  <div class="col-12 col-md-6 col-lg-3 mt-5">
    <div class="card-body text-center">
      <img [src]="user.image" class="card-img-top rounded-circle" alt="..." />
    </div>
  </div>

  <div class="col-auto d-none d-lg-block">
    <div class="vr"></div>
  </div>

  <div class="col-12 col-md-6 col-lg-4 m-3 mt-5">
    <h3 class="mb-4"><strong>Nombre: </strong> {{ user.first_name }}</h3>
    <h3 class="mt-4"><strong>Apelidos:</strong> {{ user.last_name }}</h3>

    <p class="card-text mt-5">
      <strong>Nombre Usuario:</strong> {{ user.username }}
    </p>
    <p class="card-text mt-4 mb-5"><strong>Email:</strong> {{ user.email }}</p>

    <div
      class="modal fade"
      [attr.id]="'ppDel' + user._id"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Eliminar Usuario:
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>¿Desea eliminar al usuario?</p>
            <p>{{ user.first_name }} {{ user.last_name }}</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="deleteUser(user._id)"
              data-bs-dismiss="modal"
            >
              Aceptar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-group w-100 mt-4" role="group" aria-label="Basic example">
      <button
        type="button"
        class="btn btn-outline-secondary flex-fill p-4"
        data-bs-toggle="modal"
        [attr.data-bs-target]="'#ppDel' + user._id"
      >
        Eliminar
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary flex-fill"
        [routerLink]="['/frm', user._id]"
      >
        Actualizar
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary flex-fill"
        (click)="goToHome()"
      >
        Volver a listado
      </button>
    </div>
  </div>

  }
</div>
